*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
  html {
    scroll-behavior: smooth;

    img{
        width: 500px;
    }
}

body{
    background-color: rgba(240,234,220,255);
    transition: background-color 1s ease;
}
  

header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center ;   
    background-color: #6c3b0aa6;
}

#links{
    display: flex;
    gap: 20px;
}

section:nth-child(even) {
    width: 100%;
    height: 80vh;
    /* background-color: rgba(240,234,220,255); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20vh;

    .texto{
        /* background-color: green; */
        width: 700px;
        height: 500px;
        font-size: 35px;
        display: flex;  
        flex-direction: column;
        
        p{
        font-family: "Courier Prime";
        line-height: 60px;
        text-align: left;
        }

        span{
            font-size: 70px;
        }

        #cita{
            font-family:'Times New Roman', Times, serif;
        }
    }
}

section:nth-child(odd) {
    width: 100%;
    height: 80vh;
    /* background-color: rgba(240,234,220,255); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20vh;
    flex-direction: row-reverse;

    .texto{
        /* background-color: green; */
        width: 700px;
        height: 500px;
        font-size: 35px;
        display: flex;  
        flex-direction: column;
        
        p{
        font-family: "Courier Prime";
        line-height: 60px;
        text-align: left;
        }

        span{
            font-size: 70px;
        }

        #cita{
            font-family:'Times New Roman', Times, serif;
        }
    }
}


header a{
    text-decoration: none;
    font-weight: bold;
    color:#6c3b0aa6;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color:rgba(240,234,220,255);
    padding: 15px;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

header a:hover {
    transform: translateY(-5px);
  }


  #quiz-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 234, 220, 255);
    padding: 50px 0;
    flex-direction: column;
    margin-top: 140px;
}


.quiz-container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.quiz-container h2 {
    font-family: "Courier Prime", monospace;
    font-weight: bold;
    margin-bottom: 20px;
}

.quiz-container p {
    font-family: "Courier Prime", monospace;
    font-size: 18px;
    margin-bottom: 20px;
}

.quiz-container label {
    display: block;
    font-family: "Courier Prime", monospace;
    margin: 10px 0;
    font-size: 16px;
}

.submit-btn {
    background-color: #6c3b0aa6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: "Courier Prime", monospace;
}

.submit-btn:hover {
    background-color: #9e6b46;
}

#error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    background-color: red; /* Inicialmente vermelho para erro */
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Inicialmente oculto */
    z-index: 10000;
    text-align: center;
}

/* Mensagem de erro (quando a resposta for errada) */
#success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    background-color: green; /* Inicialmente verde para acerto */
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Inicialmente oculto */
    z-index: 10000;
    text-align: center;
}

/* Efeito de fundo quando a resposta for errada */
#background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease-in-out;
    pointer-events: none; 
    z-index: 9999; 
}

/* Fundo vermelho para erro */
#background-overlay.red {
    background-color: rgba(255, 0, 0, 0.7); /* Vermelho */
}

/* Fundo verde para acerto */
#background-overlay.green {
    background-color: rgba(0, 255, 0, 0.7); /* Verde */
}


#success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; 
    z-index: 10000;
    font-size: 24px;
    color: green;
    text-align: center;
    font-family: Arial, sans-serif;
}

.quiz-container {
    padding: 20px;
    margin-top: 50px;
}

#quiz-section {
    width: 100%;
    padding: 30px;
}

#score-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Courier Prime", monospace;
    font-size: 20px;
    margin-bottom: 20px;
}

#score {
    color: #333;
    font-family: "Courier Prime", monospace;
}

#countdown {
    font-size: 24px;
    font-weight: bold;
    color: red;
    font-family: "Courier Prime", monospace ;
}

#start-btn {
    background-color: #6c3b0aa6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#start-btn:hover {
    background-color: #9e6b46;
}

#quiz-container {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.quiz-container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

#textoInicial{
    width: 100%; 
        height: 70vh;
        font-size: 35px;
        display: flex;  
        align-items: center;
        line-height: 50px;
        margin-bottom: 171px;

    p{
        font-size: 25px;
        font-family: "Courier Prime";
        text-align: center;
    }
} 
